{% extends 'customers/base.html' %}

{% block subtitle %}|Home{% endblock %}

{% block page_header %}
<div class="page-header">
    <h4>Python Oracle example
        <small>
            Using python 3.4 and django 1.10.1
        </small>
    </h4>
</div>
{% endblock page_header %}

{% block content %}
<div class="row">
    <div class="col-md-12">
    <p class="text-primary">Date & Time: <span class="text-muted">{% now "r" %}</span></p>
    <p class="text-primary">DB Query: <a class="text-muted"  href="{% url 'customers:list' %}">Click here</a></p>
    </div>
</div>
{% endblock %}

